<!doctype html>
<html>
    <head>
          <meta charset="UTF-8">
          <meta name="viewport" content="width=device-width, initial-scale=1.0">
          <script src="https://cdn.tailwindcss.com"></script>
    </head>
    <body>
          <nav class="py-4 px-8 flex justify-between bg-teal-600">
              <a href="/" class="text-white"> CRM Start Page</a>

              <div class="space-x-4">
                  <a href="/" class="py-4 px-6 bg-teal-700 rounded-xl text-white"> Log In</a>
                  <a href="{% url 'sign' %}" class="py-4 px-6 bg-teal-400 rounded-xl text-white"> Sign Up</a>
              </div>
          </nav>

          <h1 class="text-xl">Sign up page</h1>
          <form method="post" action=".">
              {% csrf_token %}

              {{ form.as_p }}

              <button class="py-4 px-8 bg-teal-600 text-white rounded-xl">Submit</button>
          </form>

    </body>
</html>