{% extends 'core/view/main_page.html' %}



{% block title %}{% endblock %}

{% block content %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Log in to Flowhub.">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log in to Flowhub</title>
    <link href="/static/css/login.css" rel="stylesheet" type="text/css">
</head>
<body class="flowhub-brand" data-analystics-screen="loginChoiceScreenV" data-analystics-marketing-event="true">

    <div>
        <a href="/"><img alt="Flowhub" class="flowhub-main-logo" src="/static/img/Logo union.svg"></a>
        <section class="inner-section">
            <div class="section-wrapper">
                <div class="account-form">
                    <h1>Log in to Flowhub</h1>
                    <div class="login-password-container">
                        <form id="login-form" method="post">
                            <div class="login-password-container-email">
                                {% csrf_token %}
                                <div class="email-password">
                                    <div class="email-login">
                                        {{ form.username }}
{#                                        <input type="text" name="user" id="id_username" class="form-field" autocorrect="off" spellcheck="off" autocapitalize="off" autofocus="autofocus" placeholder="Enter email" value autocomplete="username" inputmode="email" required>#}
                                    </div>
                                    <div class="password-login">
                                        {{ form.password }}
{#                                        <input type="password" name="password" id="id_password" class="form-field" placeholder="Password" autocomplete="current-password" required>#}
                                    </div>
                                    <input id="login" type="submit" class="py-4 px-8 bg-teal-600 text-white rounded-xl button account-button button-blue btn btn-success" value="Continue">
                                </div>
                            </div>
                        </form>
                        <div class="login-methods hide-when-two-factor">
                            <div class="login-oauth-container">

                                <div class="login-method-separator">OR</div>
                                {% load socialaccount %}
                                <a href="{% provider_login_url 'google' %}?next=/" class="google-button oauth-button">Continue with Google</a>
                                    <span id="google-icon" class="icon"></span>
                                    <span class="label"  data-analystics-button="loginWithGmailButton">Continue with Google</span>
                                </a>
                                <a id="appleButton" class="apple-button oauth-button" href>
                                    <span id="apple-icon" class="icon"></span>
                                    <span class="label" data-analystic-button="loginWithAppleButton">Continue with Apple</span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <hr class="bottom-form-separator">
                    <ul class="bottom-form-link">
                        <li>
                            <a class="forgotLink" href="{% url 'password_reset' %}" data-analytics-link="forgotPasswordLink">Forgot password?</a>
                        </li>
                        <li>
                            <a class="sigrupLink" href="{% url 'sign' %}" data-analytics-link="signUpLoginLink">Don't have an account?</a>
                        </li>
                    </ul>
                </div>
                <ul class="bottom-form-link smaller-links"></ul>
            </div>
        </section>
    </div>
    <footer class="global-footer" data-track-group="Footer"></footer>
    <div class="background"></div>

    <!-- <script src="/static/js/login.js"></script> -->

</body>
</html>
{% endblock %}