{% extends 'userprofile/login.html' %}

{% block title %}{% endblock %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Sign up for an account.">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign up for an account</title>
    <link href="/static/css/signup.css" rel="stylesheet" type="text/css">
</head>
<body class="flowhub-brand" data-analystics-screen="loginChoiceScreenV" data-analystics-marketing-event="true">

    <div>
        <a href="/"><img alt="Flowhub" class="flowhub-main-logo" src="/static/img/Logo union.svg"></a>
        <section class="inner-section">
            <div class="section-wrapper">
                <div class="account-form">
                    <h1>Sign up for an account</h1>
                    {% if form.email.errors %}
                        <div class="error-message">
                            <ul>
                                {% for error in form.email.errors %}
                                    <li>{{ error }}</li>
                                {% endfor %}
                            </ul>
                        </div>
                    {% endif %}
                    <form id="login-form" method="post" action="{% url 'sign' %}">
                        <div class="login-password-container-email">
                            <div class="email-password">
                                {% csrf_token %}
                                <div class="email-login">
                                    <label for="{{ form.email.id_for_label }}">Email:</label>
                                    {{ form.email }}
                                </div>
                                <div class="email-login">
                                    <label for="{{ form.username.id_for_label }}">Username:</label>
                                    {{ form.username }}
                                </div>
                                <div class="password-login">
                                    <label for="{{ form.password1.id_for_label }}">Password:</label>
                                    {{ form.password1 }}
                                </div>
                                <div class="password-login">
                                    <label for="{{ form.password2.id_for_label }}">Confirm Password:</label>
                                    {{ form.password2 }}
                                </div>
                                <button class="py-4 px-8 bg-teal-600 text-white rounded-xl button account-button button-blue btn btn-success" id="login" type="submit">Submit</button>
                            </div>
                        </div>
                    </form>
                     <div class="login-methods hide-when-two-factor">
                        <div class="login-oauth-container">
                            <div class="login-method-separator">OR</div>
                            <a id="googleButton" class="google-button oauth-button" href>
                                <span id="google-icon" class="icon"></span>
                                <span class="label" data-analystics-button="signupWithGmailButton">Continue with Google</span>
                            </a>
                            <a id="appleButton" class="apple-button oauth-button" href>
                                <span id="apple-icon" class="icon"></span>
                                <span class="label" data-analystic-button="signupWithAppleButton">Continue with Apple</span>
                            </a>
                        </div>
                    </div>
                    <hr class="bottom-form-separator">
                    <ul class="bottom-form-link">
                        <li>
                            <a class="haveAnAccount" href="{% url 'login' %}" data-analytics-link="haveAnAccountLink">Already have an account? Log in</a>
                        </li>
                    </ul>
                </div>
                <ul class="bottom-form-link smaller-links"></ul>
            </div>
        </section>
    </div>
    <footer class="global-footer" data-track-group="Footer"></footer>
    <div class="background"></div>

    <!-- <script src="/static/js/login.js"></script> -->

</body>
</html>
{% endblock %}