html {
    font-family: "jaf-facitweb","Helvetica Neue",Arial,sans-serif;
    color: #4d4d4d;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.44em;
}

html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

html::selection {
    text-shadow: none;
}

.flowhub-brand {
    background-color: #f9fafc;
    font-family: '-apple-system',BlinkMacSystemFont,'Segoe UI',Roboto,Oxygen,Ubuntu,'Fira Sans','Droid Sans','Helvetica Neue',sans-serif;
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    min-height: 100vh;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    font-size: 14px;
}

body {
    margin: 0;
}

.logo_box {
    width: 210px;
    margin: auto;
}

.flowhub-brand .flowhub-main-logo {
    display: block;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    margin-bottom: 40px;
}

img, svg {
    vertical-align: middle;
}

img {
    border: 0;
}

.flowhub-brand .inner-section {
    width: 100%;
    padding: 0px;
    overflow: visible;
    margin-bottom: 30px;
}

section {
    overflow: hidden;
    padding: 0 1em;
    word-break: break-word;
}

/* @media only screen and (min-width: 650px)
section {
    padding: 2em 1em;
} */

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
    display: block;
}

.flowhub-brand .inner-section .section-wrapper {
    max-width: 400px;
}

.section-wrapper {
    max-width: 540px;
    margin: 0 auto;
}

.flowhub-brand .inner-section .account-form {
    background-color: #fff;
    border-radius: 3px;
    padding: 25px 40px;
    box-shadow: rgba(0,0,0,0.1) 0 0 10px;
}

/* h1 */

.flowhub-brand .inner-section h1 {
    text-align: center;
    color: #3C5965;
    font-size: 16px;
    letter-spacing: -0.01em;
    line-height: 28px;
    margin-top: 10px;
    margin-bottom: 40px;
}

h1 {
    font-size: 1.777em;
    line-height: 1.2em;
    margin-top: 1.6em;
}

h1 {
    font-size: 2em;
    margin: 0.67em 0;
}

/* Input */

.input-container {
    position: relative;
    margin: 30px auto;
    width: 100%;
  }
  
  .input-container input[type="text"],
  .input-container input[type="email"],
  .input-container input[type="password"] {
    font-size: 16px;
    width: 100%;
    color: #3C5965;
    border: none;
    border-bottom: 2px solid #ccc;
    padding: 3px 0;
    background-color: transparent;
    outline: none;
  }

  input.form-field {
    font-weight: 500;
  }

  .input-container input[type="text"]:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px #fff inset !important;
    font-size: 16px !important;
}

  .input-container input[type="text"]:-ms-autofill {
    -ms-box-shadow: 0 0 0 30px #fff inset !important;
    font-size: 16px !important;
    color: #3C5965 !important;
}
  
  .input-container input[type="text"]:-moz-autofill {
    -moz-box-shadow: 0 0 0 30px #fff inset !important;
    font-size: 16px !important;
    color: #3C5965 !important;
  }
  .input-container .label {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 15px;
    color: #ccc;
    transition: all 0.3s ease;
    pointer-events: none;
  }
  
  .input-container input[type="text"]:focus ~ .label,
  .input-container input[type="text"]:valid ~ .label,
  .input-container input[type="email"]:focus ~ .label,
  .input-container input[type="email"]:valid ~ .label,
  .input-container input[type="password"]:focus ~ .label,
  .input-container input[type="password"]:valid ~ .label {
    top: -20px;
    font-size: 13px;
    color: #7C9FAD;
  }
  
  .input-container .underline {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 100%;
    background-color: #7C9FAD;
    transform: scaleX(0);
    transition: all 0.3s ease;
  }
  
  .input-container input[type="text"]:focus ~ .underline,
  .input-container input[type="text"]:valid ~ .underline,
  .input-container input[type="email"]:focus ~ .underline,
  .input-container input[type="email"]:valid ~ .underline,
  .input-container input[type="password"]:focus ~ .underline,
  .input-container input[type="password"]:valid ~ .underline {
    transform: scaleX(1);
  }

/* Button */

.flowhub-brand .inner-section .account-form .btn {
    width: 100%;
}

button, input, optgroup, select, textarea {
    color: inherit;
    font: inherit;
    margin: 0;
}

.flowhub-brand .inner-section .account-form .button-blue:not(:disabled) {
    background: #7C9FAD;
}

.flow-brand .inner-section .account-form .button-blue {
    box-shadow: none;
}

.flow-brand .inner-section .account-button {
    margin-bottom: 0;
    width: 100%;
}

button, html input[type="button"], input[type="submit"] {
    /* -webkit-appearance: button; */
    cursor: pointer;
}

.button {
    background: #CDD2D4;
    border-radius: 0.3em;
    box-shadow: 0 1px 0 hsl(0,0%,30%);
    display: inline-block;
    font-weight: bold;
    margin-bottom: 0;
    padding: 0.6em 1.3em;
    position: relative;
    text-decoration: none;
    border: 0px;
    transition: 0.1s all ease-in-out;
}

.button-blue {
    color: #fff;
}

textarea, input {
    display: block;
    margin: 0 0 1.2em;
}

input {
    line-height: normal;
}

.flowhub-brand .inner-section .account-form
.button-blue:hover {
    background: #83a7b6;
}


.flowhub-brand .inner-section .account-form .login-method-separator {
    text-align: center;
    font-size: 12px;
    line-height: 1;
    margin-top: 16px;
    margin-bottom: 16px;
    color: #4d4d4d;
}

.flowhub-brand .inner-section .account-form .oauth-button {
    background: #fff;
    color: rgba(0,0,0,0.54);
    box-shadow: rgba(0,0,0,0.2) 1px 1px 5px 0;
    border-color: transparent;
    text-align: center;
    border-radius: 3px;
    width: 100%;
    height: 39px;
    padding-top: 0;
    margin-bottom: 12px;
    display: block;
    text-decoration: none;
    -webkit-transition: background-color .2s ease-in-out 0s,border-color .2s ease-in-out 0s;
    transition: background-color .2s ease-in-out 0s,border-color .2s ease-in-out 0s;
}

form.form-google {
    vertical-align: middle;
    font-size: 14px;
    /* color: #505f79; */
    font-family: inherit;
    font-weight: bold;
}

button.google-button {
    color: #505f79 !important;
}

.flowhub-brand .inner-section .account-form .form-google #google-icon {
    background: url('https://d2k1ftgv7pobq7.cloudfront.net/meta/c/p/res/images/8215f6659adc202403198fef903a447e/sign-in-with-google.svg') 0 50% no-repeat;
}

.flowhub-brand .inner-section .account-form .oauth-button span.icon {
    display: inline-block;
    border-radius: 1px;
    width: 18px;
    height: 18px;
    vertical-align: middle;
}

.flowhub-brand .inner-section .account-form .form-google .oauth-button span.icon {
    display: inline-block;
    border-radius: 1px;
    width: 18px;
    height: 18px;
    vertical-align: middle;
    padding-right: 3px;
}

.flowhub-brand .inner-section .account-form .form-google .oauth-button span.icon {
    display: inline-block;
    border-radius: 1px;
    width: 18px;
    height: 18px;
    vertical-align: middle;
    
}

.flowhub-brand .inner-section .account-form .oauth-button span.label {
    display: inline-block;
    vertical-align: middle;
    font-size: 14px;
    font-family: inherit;
    font-weight: bold;
    color: #505f79;
    padding: 3px;
    height: 32px;
    line-height: 32px;
}

.flowhub-brand .inner-section .account-form #apple-icon {
    background: url('https://d2k1ftgv7pobq7.cloudfront.net/meta/c/p/res/images/6fc4ecf05a97cfb43cfcbb14738a5aa0/apple-logo-black.svg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    vertical-align: -3px;
}

.flowhub-brand .inner-section .account-form .oauth-button:hover {
    background-color: #f4f6f8;
    text-decoration: none;
}

.flowhub-brand .inner-section a:hover, .atlassian-brand .inner-section a:hover:visited {
    color: #0052cc;
    text-decoration: underline;
}

.flowhub-brand .inner-section hr {
    margin-top: 25px;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid hsl(0,0%,80%);
    margin: 1em 0;
    padding: 0;
}

.flowhub-brand .inner-section .bottom-form-link {
    text-align: center;
    font-size: 14px;
    display: block;
    padding: 0;
}

.flowhub-brand .inner-section .bottom-form-link li {
    display: inline-block;
    list-style: none;
}

.flowhub-brand .inner-section a {
    text-decoration: none;
    color: #0052cc;
}

.flowhub-brand .inner-section .bottom-form-link li:not(:first-child)::before {
    content: '\2022';
    margin: 0 8px 0px 4px;
}