* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
  
@font-face {
  font-family: "Nunito";
  src: url("/static/Fonts/NunitoSans-VariableFont_YTLC\,opsz\,wdth\,wght.ttf");
}

@font-face {
  font-family: "Roboto";
  src: url("/static/Fonts/Roboto-Regular.ttf");
}

@font-face {
  font-family: "Nunito Light";
  src: url("/static/Fonts/NunitoSans_10pt-Light.ttf");
}

  body {
    margin: 0;
    min-height: 100%;
    min-width: 320px;
    font-family: "Nunito", sans-serif;
    text-rendering: optimizeLegibility;
    font-size: 16px;
    /* color: hsl(125, 25%, 81%); */
    background-color: #fff;
    line-height: 20px;
}

body {
  background-image: url("/static/img/background.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-position: top;
}

/* Header */

.header {
    z-index: 9;
    width: 100%;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    right: 0;
    left: 0;
    transition: all .2s;
}

  .global-navigation {
  height: 55px;
  background-color: hsla(109, 22%, 15%, 0.301);
}
  
  article, aside, details, 
  figcaption, figure, footer, header, hgroup, 
  main, menu, nav, section, summary {
    display: block;
}

  .containerN.NavBar {
    height: 100%;
    max-width: 100%;
    margin-right: auto;
    margin-left: auto;
    background-image: none;
    display: flex;
}

  .containerN {
    width: 100%;
    max-width: 100%;
    padding-bottom: 0;
    padding-left: 55px;
    align-items: center;
    display: block;
}

  .logo {
    line-height: 47px;
    height: 55px;
}

  .logo-wrapper.w--current {
    display: inline-block;
    vertical-align: middle;
    margin-right: 15px;
}

  .logo-wrapper {
    flex: 0 0 auto;
}

  .w-nav-logo {
    position: relative;
    float: left;
    text-decoration: none;
    font-size: 30px;
    font-weight: 700;
    color: #e8e7ea;
}

  /* .buttons_in_group {
  background-color: transparent;
  text-decoration: none;
} */

  a:active,a:hover {
  outline: 0;
}

  .nav-link:hover {
  background-color: #696C6C;
}

  .logo {
    max-width: none;
}
  
  img {
    border: 0;
    vertical-align: middle;
    display: inline-block;
    max-width: 100%;
}

  .nav-menu {
    display: flex;
    width: 100%;
    justify-content: space-between;
    flex: 0 auto;
}

  .w-nav-menu {
    position: relative;
    float: right;
}

  .buttons_in {
    display: flex;
    align-items: center;
    margin-left: 75px;
    /* transition: all .3s ease-in-out; */
}

  .nav-link-dropdown {
    position: relative;
    display: block;
    height: 55px;
    padding: 0;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    transform: translate(0,0);
    transition: all .2s ease-in-out;
    font-family: "Nunito", sans-serif;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
}

  .w-dropdown {
    display: inline-block;
    position: relative;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    z-index: 900;
}

  .nav-dropdown {
    display: flex;
    height: 55px;
    padding: 0 15px;
    justify-content: flex-start;
    align-items: center;
    color: #d6dbde;
}

  .w-dropdown-toggle {
    -webkit-user-select: none;
    user-select: none;
    cursor: pointer;
}

  .w-dropdown-btn, .w-dropdown-link {
    position: relative;
    vertical-align: top;
    text-decoration: none;
    color: #222;
    padding: 20px;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    white-space: nowrap;
}

  .down-arrow-icon {
    margin-left: 8px;
    padding-left: 0;
}

 .nav-dropdown img {
    border: 0;
    vertical-align: middle;
    display: inline-block;
    max-width: 100%;
}

  .nav-link-dropdown:hover {
    background-color: #696C6C;
    /* opacity: 50%; */
    color: #fff;
}
  .nav-dropdown-text {
    border: none;
    background: none;
    font-size: 18px;
    font-weight: 400;
    color: #fff;
    cursor: pointer;
    transition: all 0.3s ease;
  }

  .nav-link {
    position: relative;
    display: flex;
    height: 55px;
    padding: 0 15px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    transform: translate(0,0);
    transition: all .2s ease-in-out;
    font-family: "Nunito", sans-serif;
    color: #fff;
    font-size: 18px;
    font-weight: 400;
    text-decoration: none;
}

  .buttons_in_group {
    display: flex;
    justify-content: right;
    transition: all .3s ease;
  }

  .buttons_in_group a:hover {
    color: #282828;
    background-color: #d4ded5;
  } 

  div.line-sign {
    position: absolute;
    width: 30px;
    height: 0px;
    right: 192px; 
    top: 26px;
    mix-blend-mode: exclusion;
    border: 1px solid #676767;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
    transform: rotate(90deg);
    opacity: 80%;
    border-radius: 5px;
  }
  
  .Sign {
    background-color: #676767;
    color: #fff;
    text-decoration: none;
  } 

  .sign-in {
    width: 100px;
  }
  
  /* page */

  /* .leftUp {
    text-align: left;
    display: block;
    flex: 0 0 auto;
    width: 40%;
    margin-bottom: 0px;
    padding-bottom: 8rem;
    position: relative;
  }
  
  .leftUp {
    padding: 18em 6rem 1rem;
    position: relative;
    scroll-margin-top: 72px;
    margin-top: 0px;
  }

  .left-container {
    position: relative;
  }
  

  .left-container::before {
    content: "";
    position: absolute;
    width: 620px;
    height: 245px;
    left: -29px;
    top: -1px;
    background: #D9D9D9;
    border-radius: 15px;
    opacity: 20%;
    z-index: 100;
  } */

  @media (min-width: 992px) {
  .frontsection {
    overflow-x: hidden;
  }
}

.frontsection {
  scroll-margin-top: 72px;
}

/* @media (min-width: 1200px) {
.grid_container {
    max-width: 1140px;
}
} */

.grid_container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media (max-width: 1920px) and (min-width: 1280px) {
  .TextBlock {
    width: 100%;
    max-width: none;
  }
}
section {
  max-width: 1920px;
  min-width: 1280px;
}



  .grid_container {
    margin-left: 0;
    margin-right: auto;
    padding-left: 1rem;
    padding-right: 1rem;
    width: 100%;
}

.grid_row-container {
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: start;
    justify-content: flex-start;
    display: flex;
    flex-wrap: wrap;
    margin-left: -1rem;
}

@media (min-width: 992px) {
  .left-container {
    text-align: left;
    display: block;
    flex: 0 0 auto;
    margin-bottom: 0px;
    padding-bottom: 8rem;
  }
  }

.left-container {
    padding: 8rem 6rem 1rem;
    position: relative;
    scroll-margin-top: 72px;
    margin-top: 4px;
}

  
  h1 {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 35px;
    line-height: 1.25;
    margin-bottom: 0.8em;
    margin-top: 0px;
    color: #fff;
    width: 558px;
    /* z-index: 100; */
  }
  
  p {
    font-family: "Nunito Light", sans-serif;
    color: #fff;
  }
  
  
  .Spacerline {
    height: 5rem;
  }

  mark {
    background: rgba(199, 148, 8, 0.83);
    color: #fff;
    border-radius: 1px;
  }

  input {
    margin: 0px;
    font-family: inherit;
  }

  .input-container input[type="email"] {
    font-size: 18px;
    width: 70%;
    color: #3C5965;
    border: none;
    border-bottom: 2px solid #ccc;
    border-radius: 5px;
    background-color: #e1e1e1;
    opacity: 85%;
    outline: none;
  }

  .input-container .label {
    height: 40px;
    padding-left: 10px;
  }

  .input-container input[type="email"]:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px #e1e1e1 inset !important;
    font-size: 18px !important;
}

  .input-container .button-green {
    width: 150px;
    cursor: pointer;
    float: right;
    height: 40px;
  }


  .btn-success {
    font-family: "Nunito Light", sans-serif;
    background: rgba(49, 63, 50, 0.8);
    color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 1px 0 hsl(0,0%,30%);
    display: inline-block;
    margin-bottom: 0;
    padding: 0.6em 1.3em;
    position: relative;
    text-decoration: none;
    border: 0px;
    transition: 0.1s all ease-in-out;
}

   .btn-success:hover {
    background-color: rgba(66, 85, 68, 0.8);
    transition: all .3s ease-out;
   }