* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
  
  /* html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  height: 100%
} */

  body {
    margin: 0;
    min-height: 100%;
    min-width: 320px;
    font-family: 'Roboto', sans-serif;
    text-rendering: optimizeLegibility;
    font-size: 16px;
    /* color: hsl(125, 25%, 81%); */
    background-color: #0D1B1E;
    line-height: 20px;
}
  
  .global-navigation {
  height: 48px;
  background-color: #324d5c;
}

  .BigNavStyles {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 9;
    width: 100%;
}
  
  article, aside, details, 
  figcaption, figure, footer, header, hgroup, 
  main, menu, nav, section, summary {
    display: block;
}

  * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

  .NavBar {
    display: flex;
    height: 100%;
    max-width: 1200px;
    margin-right: auto;
    margin-left: auto;
    background-image: none;
}

  .containerN {
    width: 100%;
    max-width: 1200px;
    padding-right: 15px;
    padding-bottom: 0;
    padding-left: 15px;
    align-items: center;
}

  .w-NavBar {
    margin-left: auto;
    margin-right: auto;
    max-width: 940px;
}
 
  .logo-wrapper.w--current {
    margin-right: 15px;
}

  .logo-wrapper {
    flex: 0 0 auto;
}

  .w-nav-logo {
    position: relative;
    float: left;
    text-decoration: none;
    font-size: 30px;
    font-weight: 700;
    color: #e8e7ea;
}

  /* .buttons_in_group {
  background-color: transparent;
  text-decoration: none;
} */

  a:active,a:hover {
  outline: 0;
}

  .nav-link:hover {
  background-color: #293f4b;
  opacity: 1;
}

  .logo {
    max-width: none;
}
  
  img {
    border: 0;
    vertical-align: middle;
    display: inline-block;
    max-width: 100%;
}

  .nav-menu {
    display: flex;
    width: 100%;
    justify-content: space-between;
    flex: 0 auto;
}

  .w-nav-menu {
    position: relative;
    float: right;
}

  .buttons_in {
    display: flex;
    align-items: center;
    margin-left: 40px;
}

  .nav-link-dropdown {
    position: relative;
    display: block;
    height: 48px;
    padding: 0;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    opacity: 1;
    transform: translate(0,0);
    transition: background-color .2s ease-in-out;
    font-family: 'Montserrat Quaderno',sans-serif;
    color: #fff;
    font-size: .875rem;
    font-weight: 500;
}

  .w-dropdown {
    display: inline-block;
    position: relative;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    z-index: 900;
}

  .nav-dropdown {
    display: flex;
    height: 48px;
    padding: 0 15px;
    justify-content: flex-start;
    align-items: center;
    color: #d6dbde;
}

  .w-dropdown-toggle {
    -webkit-user-select: none;
    user-select: none;
    cursor: pointer;
}

  .w-dropdown-btn, .w-dropdown-link {
    position: relative;
    vertical-align: top;
    text-decoration: none;
    color: #222;
    padding: 20px;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    white-space: nowrap;
}

  .down-arrow-icon {
    margin-left: 8px;
    padding-left: 0;
}

 .nav-dropdown img {
    border: 0;
    vertical-align: middle;
    display: inline-block;
    max-width: 100%;
}

  .nav-link-dropdown:hover {
    background-color: #293f4b;
    opacity: 1;
    transform: none;
}
  .nav-dropdown-text {
    border: none;
    background: none;
    font-size: 16px;
    font-weight: 500;
    color: #e8e7ea;
    cursor: pointer;
    transition: all 0.3s ease;
  }

  .nav-link {
    position: relative;
    display: flex;
    height: 48px;
    padding: 0 15px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    opacity: 1;
    transform: translate(0,0);
    transition: background-color .2s ease-in-out;
    font-family: 'Montserrat Quaderno',sans-serif;
    color: #fff;
    font-size: .875rem;
    font-weight: 500;
}

  .buttons_in_group {
    display: flex;
  }

  .buttons_in_group a:hover {
    color: #0D1B1E;
    background-color: #d4ded5;
  } 
  
  .Sign {
    background-color: hsl(125, 25%, 81%);
    color: #000000;
  } 
  
  /* page */

  .leftUp {
    text-align: left;
    display: block;
    flex: 0 0 auto;
    width: 40%;
    margin-bottom: 0px;
    padding-bottom: 8rem;
  }
  
  .leftUp {
    padding: 8em 1rem 1rem;
    position: relative;
    scroll-margin-top: 72px;
    margin-top: 0px;
  }
  
  h1 {
    font-weight: 500;
    font-size: 3rem;
    line-height: 1.25;
    margin-bottom: 0.5em;
    margin-top: 0px;
    color: #fff;
  }
  
  p {
    color: #fff;
  }

  .item {
          width: 80px;
          height: 80px;
          background-color: hsl(125, 25%, 81%);
          transition: .3s;
          border-radius: 25px;
          margin-left: 15px;
          margin-right: 0px;
      }

      .container {
          display: flex;
          justify-content: left;
          align-items: center;
          margin: 1em;
      }

      .container:hover > :not(:hover) {
          opacity: .4;
      }

      .item:hover {
          box-shadow: 5px 5px 56px -14px #25b384;
          /* transform: rotate(45deg); */
          transform: scale(1.2);
      }
