* {
    box-sizing: border-box;
}

.reg_main_cont {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #0D1B1E;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 70vh;
    overflow: hidden;
    margin: 0;
}

.reg_container_log {
    background-color: #393e467d;
    padding: 20px 40px;
    border-radius: 10px;
}

.reg_main_cont .reg_container_log h1 {
    text-align: center;
    margin-bottom: 30px;
}

.reg_container_log a {
    text-decoration: none;
    color: lightblue;
}

.reg_container_log a:hover {
    color: rgb(184, 231, 247);
    transition: 0.2s all ease;
}

.reg_submit {
    cursor: pointer;
    display: inline-block;
    width: 100%;
    background: lightblue;
    padding: 15px;
    font-family: inherit;
    font-size: 26px;
    border: 0;
    border-radius: 5px;
}

.reg_submit:focus {
    outline: 0;
}

.reg_submit:active {
    transform: scale(0.98);
}

.reg_submit:hover {
    background-color: rgb(150, 190, 203);
    transition: all 0.3s ease;
}

.reg_text {
    margin-top: 30px;
}

.reg_form-control {
    position: relative;
    margin: 20px 0 40px;
    width: 300px;
}

.reg_form-control input {
    background-color: transparent;
    border: 0;
    border-bottom: 2px #fff solid;
    display: block;
    width: 100%;
    padding: 15px 0;
    font-size: 18px;
    color: #fff;
}

.reg_form-control input:focus,
.reg_form-control input:valid {
    outline: 0;
    border-bottom-color: lightblue;
}

.reg_input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px #232C31 inset !important;
    -webkit-text-fill-color: #fff !important;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px #232C31 inset !important;
    -webkit-text-fill-color: #fff !important;
}

.reg_form-control label {
    position: absolute;
    top: 15px;
    left: 0;
    pointer-events: none;
}

.reg_form-control label span {
    display: inline-block;
    font-size: 18px;
    min-width: 5px;
    transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.reg_form-control input:focus + label span,
.reg_form-control input:valid + label span {
    color: lightblue;
    transform: translateY(-30px);
}

input:-webkit-autofill + label span {
    color: lightblue;
    transform: translateY(-30px);
}