{% extends 'core/view/main_page.html' %}

{% block title %}Leads{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="/static/css/lead_list.css">
{% endblock %}

{% block content %}
    <div class="container mx-auto px-4 py-6">
        <h1 class="mb-6 text-2xl text-white font-bold">Clients</h1>

        <div class="flex justify-end mb-6">
            <a href="#" class="inline-block py-2 px-4 bg-blue-600 rounded text-white">Add client</a>
        </div>

        {% if clients %}
            <div class="table w-full">
                <div class="table-row bg-gray-800 text-white font-bold">
                    <p class="table-cell py-2 px-4">Name</p>
                </div>
                {% for client in clients %}
                    <div class="table-row">
                        <p class="table-cell py-2 px-4 {% cycle 'bg-gray-100' '' %}">
                            <a href="{% url 'clients_detail' client.id %}" class="text-blue-600 hover:underline">{{ client.name }}</a>
                        </p>
                    </div>
                {% endfor %}
            </div>
        {% else %}
            <p class="text-white">There are not clients in the database yet...</p>
        {% endif %}
    </div>
{% endblock %}
