{% extends 'core/view/main_page.html' %}

{% block extra_css %}
    <link rel="stylesheet" href="/static/css/lead_detail.css">
{% endblock %}

{% block title %}{% endblock %}

{% block content %}
    <div class="py-6 px-6">
        <h1 class="mb-6 text-xl">{{ lead.name }}</h1>

        <table class="lead-table">
            {% if lead.descriptions %}
                <tr>
                    <td class="font-semibold">Name</td>
                    <td>{{ lead.descriptions }}</td>
                </tr>
            {% endif %}

            <tr>
                <td class="font-semibold">Status</td>
                <td>{{ lead.get_status_display }}</td>
            </tr>

            <tr>
                <td class="font-semibold">Priority</td>
                <td>{{ lead.get_priority_display }}</td>
            </tr>

            <tr>
                <td class="font-semibold">Created at</td>
                <td>{{ lead.created_at }}</td>
            </tr>

            <tr>
                <td class="font-semibold">Modified at</td>
                <td>{{ lead.modified_at }}</td>
            </tr>
        </table>

        <hr class="my-4">

        <a href="{% url 'leads_convert' lead.id %}" class="btn btn-primary">Convert to client</a>
        <a href="{% url 'edit_lead' lead.id %}" class="btn btn-secondary">Edit</a>
        <a href="{% url 'leads_delete' lead.id %}" class="btn btn-danger">Delete</a>


        <hr class="my-4">

        <a href="{% url 'leads_list' %}" class="btn btn-link">Back to leads</a>

    </div>

{% endblock %}
