{% extends 'core/view/main_page.html' %}

{% block title %} CRM system{% endblock %}

{% block content %}
    <section class="frontsection">
       <div class="section_container">
          <div class="baseUpfront">
             <div class="leftUp">
              <div class="leftmaintext">
                <div>
                    <h1><mark>Our CRM</mark> brings all your tasks, teammates, and tools together</h1>
                    <p>Keep everything in the same place—even if your team isn’t.</p>
                </div>
              </div>
             </div>
             <div class="rightUp">
                <picture>
                    <source type="image/webp" media="(min-width: 1200px)" src="/">
                </picture>
             </div>
          </div>
       </div>
       </section>
{% endblock %}