<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% block title %}{% endblock %}</title>
    {% block styles %}{% endblock %}

    <link rel="stylesheet" type="text/css" href="/static/css/main.css">
</head>
<body>
  <div class="app-root">
    <header class="BigNavStyles">
      <div class="header"> 
        <div class="NavBar">
         <a class="logo-wrapper" href="/">
            <img class="logo-wrapper" src="/static/img/semicircle.png" width="70px">
            CRM system
         </a>
          <div class="buttons_in">
            <button class="features">Features</button>
            <button class="solutions">Solutions</button>
            <button class="pricing">Pricing</button>
            <button class="resources">Resources</button>
            <div style="width: 0px;" class="tabstyles"></div>
          </div>
             <div class="buttons_in_group">
               <a class="login" href="{% url 'login' %}">Log in</a>
               <a class="Sign in" href="{% url 'sign' %}">Sign in</a>
             </div>
        </div>
      </div>
    </header>
    <div class="container">
      <div class="item"></div>
      <div class="item"></div>
      <div class="item"></div>
      <div class="item"></div>
      <div class="item"></div>
  </div>

        {% block content %}
          {% endblock %}

  </div>
</body>
</html>
