
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block extra_css %}{% endblock %}
    <title>{% block title %}{% endblock %}</title>
    <link rel="icon" href="/static/img/semicircle.png" type="image/x-icon">
    {% block styles %}{% endblock %}

    <link rel="stylesheet" type="text/css" href="/static/css/main.css">
</head>
<body>
  <div class="background-main">
    <header class="header BigNavStyles">
      <div class="global-navigation w-nav"> 
        <div class="containerN NavBar w-NavBar">
          <div class="logo">
            <a class="logo-wrapper w-nav-logo w--current" href="/">
              <img src="/static/img/Component1.svg" class="img img--brand" alt="FlowHub" style="width:170px">
            </a>
          </div>
         <nav role="navigation" class="nav-menu w-naw-menu">
          <div class="buttons_in">
            <div class="nav-link-dropdown w-dropdown" style="max-width: 1200px;">
              <div class="nav-dropdown w-dropdown-toggle" role="button" tabindex="0">
                <div class="nav-dropdown-text">Features</div>
                <img src="/static/img/Vector 1.svg" width="10px" class="down-arrow-icon" alt="Down arrow icon">
                <div class="nav-dropdown-content">
                  <div class="nav-dropdown-item">
                    <a href="#" class="nav-dropdown-link">Feature 1</a>
                  </div>
                  <div class="nav-dropdown-item">
                    <a href="#" class="nav-dropdown-link">Feature 2</a>
                  </div>
                  <div class="nav-dropdown-item">
                    <a href="#" class="nav-dropdown-link">Feature 3</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="nav-link-dropdown w-dropdown" style="max-width: 1200px;">  
              <div class="nav-dropdown w-dropdown-toggle" role="button" tabindex="0">
                <div class="nav-dropdown-text">Solution</div>
                <img src="/static/img/Vector 1.svg" width="10px" class="down-arrow-icon" alt="Down arrow icon">
                <div class="nav-dropdown-content solution-drop">
                  <div class="nav-dropdown-item">
                    <a href="#" class="nav-dropdown-link">Solution 1</a>
                  </div>
                  <div class="nav-dropdown-item">
                    <a href="#" class="nav-dropdown-link">Solution 2</a>
                  </div>
                  <div class="nav-dropdown-item">
                    <a href="#" class="nav-dropdown-link">Solution 3</a>
                  </div>
                </div>
              </div>
            </div>  
            <div class="nav-link-dropdown w-dropdown" style="max-width: 1200px;">
              <div class="nav-dropdown w-dropdown-toggle" role="button" tabindex="0">
                <div class="nav-dropdown-text">Resources</div>
                <img src="/static/img/Vector 1.svg" width="10px" class="down-arrow-icon" alt="Down arrow icon">
                <div class="nav-dropdown-content resources-drop">
                  <div class="nav-dropdown-item">
                    <a href="#" class="nav-dropdown-link">Resources 1</a>
                  </div>
                  <div class="nav-dropdown-item">
                    <a href="#" class="nav-dropdown-link">Resources 2</a>
                  </div>
                  <div class="nav-dropdown-item">
                    <a href="#" class="nav-dropdown-link">Resources 3</a>
                  </div>
                </div>
              </div>
            </div>  
            <a href="" class="nav-link w-nav-link" style="max-width: 1200px;">About us</a>
          </div>
             <div class="buttons_in_group">
              <div class="line-sign"></div>
                 {% if request.user.is_authenticated %}
                     <a class="login" href="{% url 'dashboard' %}">Dashboard</a>
                     <a class="login" href="{% url 'leads_list' %}">Leads</a>
                     <a class="Sign in" href="{% url 'logout' %}">Log out</a>
                 {% else %}
                     <a class="sign-in nav-link w-nav-link" href="{% url 'login' %}" style="max-width: 1200px;">Sign in</a>
                     <a class="Sign nav-link w-nav-link" href="{% url 'sign' %}" style="max-width: 1200px;">Free Trial</a>
                 {% endif %}
             </div>
         </nav>   
        </div>
      </div>
    </header>
  </div>
    {% if messages %}
        <div class="py-6 px-6">
            {% for message in messages %}
                <div class="py-4 px-4 bg-teal-300 rounded-xl">
                    {{ message }}
                </div>
            {% endfor %}
        </div>
  </div>
    {% endif %}

    {% block container %}{% endblock %}

    {% block content %}
    {% endblock %}
</body>
</html>

